@use './utils/normalize' as *;
@import 'utils';
@import 'fonts';
@import 'typography';
@import './blocks/header';
@import './blocks/menu';
@import './blocks/main_content';
@import './blocks/footer';

* {
  scroll-behavior: smooth;
}

body {
  background: $c-gray;
  overflow-x: hidden;
}
